<p>Title: <%= @lab.title %></p><br>
<p>Description: <%= @lab.description %></p><br>
<p>Grade: <%= @lab.grade %></p><br>
<button type="button" class="btn btn-primary"><%= link_to "Edit", edit_lab_path(@lab) %></button>
<button type="button" class="btn btn-secondary"><%= link_to "Back", labs_path %></button>
<button type="button" class="btn btn-warning"><%= link_to "Add mark", mark_lab_path %></button>
